## R Data Types

#### Numberics
Decimal (floating point values) are part of the numeric class in R

In [1]:
n <- 2.2

In [2]:
n

[1] 2.2

#### Integers
Natural (whole) numbers are known as integers and are also part of the numeric class

In [3]:
i <- 5

In [4]:
i

[1] 5

#### Logical
Boolean values (True and False) are part of the logical class. In R these are written in All Caps.

In [5]:
t <- TRUE
f <- FALSE

In [6]:
t

[1] TRUE

In [7]:
f

[1] FALSE

#### Characters
Text/string values are known as characters in R. You use quotation marks to create a text character string:

In [8]:
char <- "Hello World!"

In [9]:
char

[1] "Hello World!"

In [10]:
# Also single quotes
c <- 'Single Quote Char'

In [11]:
c

[1] "Single Quote Char"

#### Checking Data Type Classes
You can use the class() function to check the data type of a variable:

In [12]:
class(t)

[1] "logical"

In [13]:
class(f)

[1] "logical"

In [14]:
class(char)

[1] "character"

In [15]:
class(c)

[1] "character"

In [16]:
class(n)

[1] "numeric"

In [17]:
class(i)

[1] "numeric"

Those are some of the basic data types in R. Next we will learn about one of the main data building blocks of R, the vector!